<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <small><strong>
    Endereço: {{ address }} <br />
    Complemento: {{ complement }} <br />
    {{ finaladdress }}</strong></small>
</p>
